.second a{color:#fff;background-color:#c52300;}
.banner{height:30px;background-image: url(../best/images/banner_03_03.gif);margin: 0 auto;}
.main{background-image: url(../best/images/mainbgi_03.gif);}
.main-inner{width: 939px;margin: 0 auto;}
.main-top-one{width: 321px;float: left;margin-top: 20px;margin-bottom: 53px;}
.main-top-two{width: 295px;float: left;margin-top: 10px;margin-right: 43px;}
.main-top-three{width: 280px;float: left;margin-top: 10px;}
.main-top-one li{padding: 0;list-style-type: none;background-image: url(../best/images/sanjiao_14.gif);
background-repeat: no-repeat;background-position: left center;
font-family: arial;color: #818180;font-size: 13px;font-weight: bold;line-height: 30px;padding-left: 16px;}
p{font-family:arial;line-height: 25px;color: #818180;font-weight: bold;font-size: 12px;}
.main a{font-family: arial;color: #d7364c;text-decoration: none;font-weight: bold;font-size: 12px;line-height: 25px;}
.main-top-one a{color: #ffffff;background-color: #d33200;width: 103px;height: 25px;
font-weight: bold;display: block;text-align: center;line-height: 25px;font-family: arial;
font-size: 10px;margin-top: 27px;}
.main-top p:nth-of-type(1){margin-bottom:15px;}
.main-top p:nth-of-type(2){margin-bottom:15px;}
.main-bottom-left{width: 265px;float: left;margin-bottom: 46px;}
.main-bottom-left h3{height: 35px;font-family: arial;font-weight: normal;}
.main-bottom-right{width: 665px;float: left;margin-top: 36px;}
.main-bottom-right .one{color: #ffffff;background-color: #d33200;width: 103px;height: 25px;
font-weight: bold;display: block;text-align: center;line-height: 25px;font-family: arial;
font-size: 10px;margin-top: 30px;}

