.first a{color: #fff;background-color: #c52300;}
.banner{height: 437px;background-image: url(../home/images/banner_02.gif);}/*背景图必须给高度，因为它是个属性，并没有内容，所有不给高度不显示。*/
.banner-inner{width: 961px;margin: 0 auto;}
.main{background-image: url(../home/images/mainbg_04.gif);}
.main-inner{width: 946px;margin: 0 auto;}
.main-top{width: 946px;float: left;}
.main-top-left{margin-right: 120px;}
.main-top .main-top-left{float: left;width: 202px;}
.main-top .main-top-left h3{padding-top: 50px;margin-bottom: 25px;font-family: arial;color: #2a2333;font-weight: normal;}
.main-top .main-top-left li{padding: 0;list-style-type: none;background-image: url(../home/images/listimg_11.gif);background-repeat: no-repeat;background-position: left center;padding-left: 17px;word-spacing: 3px;color: #949492;font-weight: bold;font-family: arial;font-size: 13px;line-height: 30px;}
.main-top .main-top-right{float: left;width: 610px;}
.main-top .main-top-right h2{padding-top: 44px;font-family: arial;color: #2a2333;margin-bottom: 27px;font-weight: normal;}
.main-top .main-top-right img{float: left;/*width: 226px;height: 155px;*/margin-right: 25px;}
.main-top-right p{font-family: arial;font-weight: bold;line-height: 25px;font-size: 12px;}
.main-top-right p:nth-of-type(1){color: black;margin-bottom: 15px;}
.main-top-right p:nth-of-type(2){color:#727272;}
.main-top-right p:nth-of-type(3){color:#727272;}
.main-top-right span{color: #a74053;}
.main-top-right a{background-image: url(../home/images/btn_03.gif);width: 103px;height: 25px;text-decoration: none;;color: #fff;font-weight: bold;display: block;text-align: center;line-height: 25px;font-family: arial;font-size: 10px;margin-top: 18px;}
.main-bottom{width: 971px;float: left;}
.main-bottom-l{width: 265px;float: left;margin-right: 58px;}
.main-bottom-c{width: 306px;float: left;margin-right: 48px;}
.main-bottom-r{width: 294px;float: left;}
.main-bottom h3{font-family: arial;color: #292929;font-weight: normal;line-height: 44px;}
.main-bottom-l h5{font-family: arial;font-size: 10px;line-height: 30px;}
.main-bottom-l p{font-family: arial;color: #868a93;font-size: 10px;line-height: 28px;font-weight: bold;}
.main-bottom-c h5{font-family: arial;font-size: 13px;line-height: 25px;}
.main-bottom-c p{font-family: arial;color: #868a93;font-size: 10px;line-height: 25px;font-weight: bold;}
.main-bottom-c a{text-decoration: none;color: #a75764;font-family: arial;font-size: 10px;line-height: 40px;font-weight: bold;}
.main-bottom-r img{/*width: 95px;height: 95px;*/margin-top: 5px;float: left;margin-right: 25px;}
.main-bottom-r h5{margin-top: 7px;font-family: arial;margin-left: 25px;line-height: 25px;}
.main-bottom-r p{font-family: arial;font-size: 10px;color: #868a93; line-height: 25px;font-weight: bold;}
.main-bottom-r a{text-decoration: none;}
.main-bottom-r span{color: #a75764;font-family: arial;font-size: 10px;font-weight: bold}
