.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
a {
   text-decoration: none;
   text-align: center;
   display: block;
   font-size: 30px;
   padding-bottom: 20px;
  }
h1,h3{
  font-family: arial;
  color: blue;
  text-align: center;}
.parent {
 border: 2px solid blue;
}
span {
  color: red;
}
.left {
  width: 50%;
  height: 50px;
  background-color: #0cc;
  float:left;
}
.right {
  width: 50%;
  height: 50px;
  background-color: deeppink;
  float:right;
}
.first {
 background-color: #0cc;
 width: 80%;
 /*margin-top: 200px*/;
}
.second {
  width: 70%;
  height: 50px;
  background-color: deeppink;
  margin-bottom: 20px;
  margin-top: 20px;
}
.third {
  width: 70%;
  height: 50px;
  background-color: deeppink;
  margin-bottom: 20px;
  margin-top: 20px;
}
.forth {
  width: 40%;
  height: 100px;
  background-color: pink;
  margin-top: 50px;
  margin-bottom: 30px;
}