/*.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}*/

*{margin: 20px auto;}
h1 {
    font-family: arial;
    color: blue;
    text-align: center;}
 p {
 	font-family: arial;
 	font-size: 20px;

 }
 .first,.second,.third {
 	font-weight: bold;
 	height: 150px;
 	line-height: 150px;
 }
 .first {
 	background-color: pink;
 }
 .second {
 	background-color: lightgreen
 }
 .third {
 	background-color:#03A9F4;;
 }
 .first,.second,.third {
 	text-align: center;
 	color: #fff;
 }
 @media(min-width: 500px){
 	.first,.second{
 		width: 50%;
 		float: left;
 	}
 	.third {
 		clear: both;
 	}
 }
 @media(min-width: 800px){
 	.first,.second,.third{
 		width: 33.33%;
 	}
 	.third {
 		clear: none;
 		float: left;
 	}
 }
