.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
*{box-sizing: border-box;}
h1 {
	font-family: arial;
	color: blue;
	text-align: center;
}
li {
	list-style-type: none;
}
.parent {
	width: 478px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  	transition: all 0.5s;
  	margin: 16px auto;
  	
}
.id{
	width:48px;
  	background-color: #00bcd4;
  	float: left;
  	color:#fff;
  	font-weight: bold;
  	line-height:96px;
  	text-align: center;
}
.title{
	width: 430px;
 	background-color: #fff;
 	float: right;
 	padding:30px;
 	font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.parent:hover{
	 box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 20px 0 rgba(0, 0, 0, 0.12);
}
