.nav-bar {
	background-color: #0cc;
	width: 70px;
	height: 50px;
	float: right;
	display: none;
}
.humburger-btn {
	background-color: deeppink;
	width: 70px;
	height: 70px;
	border-radius: 50%;
}
@media(min-width: 500px){
	.humburger-btn {
		display: none;
	}
	.nav-bar {
		display: block;
	}
}