body {
	border: 1px red solid;
}
h1{
	font-family:arial;
	color: blue;
	text-align: center;
}
p {
	font-family: arial;
	font-size: 20px;
}
span {
	color: red;
}
.box {
	width: 200px;
	height: 200px;
	border: 2px lightgreen solid;
	position: relative;
}
.ball {
	width: 50px;
	height: 50px;
	/*border: 2px lightgreen solid;*/
	background-color: deeppink;
	position: absolute;
}
.box2 {
	width: 200px;
	height: 200px;
	border: 2px blue solid;
}
p:nth-of-type(5){
	color: blue;
	font-weight: bold;
}
