h3 {
  font-family: arial;
  font-size: 20px;
  color: blue;
  text-align: center;}
li {
  list-style-type: none;
  margin-bottom: 10px;}
.id {
  background-color: #0cc;
  width: 50px;
  height: 110px;
  float: left;
  color:#fff;
  font-weight:bold;
  text-align: center;
  line-height:100px;
  font-size:20px;
  box-shadow: 0px 0px 5px #aaa;
}
.title {
  font-family: arial;
  padding-top:10px;
  width: 400px;
  height: 100px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition:all 1s;
  padding-left:10px;
  color:#aaa;
}
.title:hover {
  box-shadow:0 4px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 20px 0 rgba(0, 0, 0, 0.12);}