.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
*{box-sizing: border-box;}
h3 {
  font-family: arial;
  font-size: 20px;
  color: blue;
  text-align: center;}
li {
  list-style-type: none;
  margin-bottom: 16px;}
.parent {
  width: 478px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.5s;
 }
.id {
  width:48px;
  height:96px;
  background-color: #00bcd4;
  color:#fff;
  line-height: 80px;
  text-align: center;  
  font-weight: bold;
  float: left;
}
.title {
  width: 430px;
  height: 96px;
  float: right;
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  padding: 10px;
  color:#777777;
}
.parent:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 20px 0 rgba(0, 0, 0, 0.12);
}


