.event-in {
	transition: all 0.5s;
	position:relative;

}
.event-in:hover span.rollover1 {
	background: rgba(11, 10, 9, 0.66);
	cursor: pointer;
	height: 500px;
	width:700px;
	display: block;
	position: absolute;
	z-index: -9999px;
	transition: all 0.5s;
	top:0;
}					
