.five a{color: #fff;background-color: #c52300;}
.banner{height: 30px;background-image: url(../contact/images/banner_03_03.gif);margin: 0 auto;}
.main{background-image: url(../contact/images/contactbgi_03.gif);}
.main-inner{width: 918px;margin: 0 auto;}
.main-left{width: 691px;float: left;}
.main-left h3{font-family: arial;font-weight: normal;text-transform: capitalize;line-height:36px;}
.main-right{width: 227px;float: left;}
.main-right h3{font-family: arial;font-weight: normal;text-transform: capitalize;line-height:36px;}
.main-left,.main-right{margin-top: 50px;}
.item{padding: 5px 0;}
.txt-lable{width: 105px;height: 33px;float: left;display: block;font-family: arial;
	font-size: 10px;color: #b28f80;line-height: 33px;font-weight: bold;}
.txt-input{width: 513px;height: 33px;}
.txt-area{width: 513px;height: 213px;}
.btn1,.btn2{float: right;width: 100px;height: 25px;background-color: #d43400;
	font-family: arial;color: #fff;border: none;text-align: center;line-height: 25px;font-weight: bold;}
.btn1{margin-left: 12px;margin-right: 70px;}
.main-right p:nth-of-type(1){margin-top: 232px;font-size: 14px;font-family: arial;color:#8b808f;line-height: 25px;}
.main-right p:nth-of-type(2){font-size: 14px;font-family: arial;color:#8b808f;line-height: 25px;float: left;margin-right: 25px;}
.main-right p:nth-of-type(3){font-size: 14px;font-family: arial;color:#8b808f;line-height: 25px;float: left;}
.main-right a{color: #d6344d;}