.side-nav {
	background-color: deeppink;
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 250px;
	transition:all 1s .1s;
	transform:translateX(-250px);}
.side-nav.show {
	transform:translateX(0px);
}
p {
	font-family: arial;
	font-size: 20px;
	text-align: center;
}
h1 {
    font-family: arial;
    font-size: 20px;
    color: blue;
    text-align: center;}