h1 {
	font-family: arial;
	text-align: center;
	color: blue;
}
.box1,.box3{
	width: 200px;
	height: 200px;
	margin: 50px auto;
}
.box2 {
	width: 197px;
	height: 197px;
	margin: 0 auto;
}
.box1{
	border: solid 3px blue;
	border-radius: 20px;
}
.box2{
	border: solid 3px deeppink;
	border-radius: 50%;
}
.box3{
	border: 3px solid green;
	border-radius: 10px 20px 30px 40px;
}
 /*border-radius是设置图形的圆角，
 四个角同等就设置一个数值；
 可写四个数值，顺时针旋转的方向，
 如果把正方形变为圆形把该属性设置成50%*/